.header-light .primary-bar .lloyd_logo {
    display: inline;
    float: left;
    width: 93px;
    height: 38px;
    background: url(images/lloyd_logo.svg);
    background-repeat: no-repeat;
    background-size: 93px;
    background-color: #000;
    margin-left: 15px;
}