.navbar-nav{
    font-size: 14px;
}

.header{
    background-color: #F1F1F1;
    padding: 40px 0;
}

.section{
    padding: 40px 0;
}

.footer{
    background-color: #141414;
    padding: 40px 0;
    color: #fafafa;
}

.footer__links a{
    color: #fafafa;
}

.footer__social-links a{
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: #fafafa;
}

.bg-twitter{
    background-color: #65CCEF;
}
.bg-facebook{
    background-color: #517CBE;
}
.bg-linkedin{
    background-color: #1187C9;
}
.bg-youtube{
    background-color: #EF4845;
}

.breadcrumb{
    background-color: transparent;
    padding-left: 0;
    padding-top: 0;
}

#nav-menu-icons{
    display: flex;
    flex-direction: row;
}

#searchbar {
    display: none;
    width: 100%;
    background-color: #fff;
    padding-top: 5px;
    margin-bottom: 10px;
}
#secondary{
    padding-top: 0;
    padding-bottom: 0;
}

#secondary-nav.nav-border{
    border-bottom: 1px solid #ccc;
}

#primary-nav li{
    background-color: #282f54;
}

#primary-nav li.active{
    background-color: #DFE0E6;
    
}

#primary-nav li.active .nav-link{
    color: #282F54;
    font-weight: bold;
}

#primary{
    padding: 0;
}

#input-search .form-control,
#searchbar .form-control{
    border-radius: 0!important;
}

#input-search .btn,
#searchbar .btn{
    border-radius: 0!important;
}

.btn-download{
    background-color: #0A4BB7;
    border-radius: 0;
}